* {
  padding: 0;
  margin: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
  background-color: #173333;
  color: #afc9c0;
  text-decoration: none;
  height: 10vh;
}

.nav > a {
  color: #afc9c0;
  text-decoration: none;
  padding: 10px;
}

main {
  background-color: #afc9c0;
  min-height: 100vh;
}

.index-top {
  display: flex;
  flex-direction: row;
  padding-right: 2rem;
  padding-top: 1rem;
}

.index-top > img {
  width: 200px;
  height: 100px;
  margin-left: 10px;
}

.intro-text {
  font-size: 1em;
  margin-left: 10px;
}

footer {
  background-image: url("./images/footer-design.png");
  text-align: center;
  padding: 1rem;
  color: white;
}
