@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 36px;
  font-weight: 999;
  font-family: "Forum", serif;
}

h2 {
  font-size: 24px;
  font-weight: 999;
  font-family: "Forum", serif;
}

h3 {
  font-size: 18px;
  font-weight: 800;
}

p {
  font-size: 14px;
  color: #173333;
  font-family: "loos-light", sans-serif;
}

* {
  font-family: "loos-normal", sans-serif;
}
